<h2>Employee Dashboard</h2>

<div class="dashboard-container">
  <div class="card">
    <h3>Total Employees</h3>
    <p>{{ totalEmployee }}</p>
  </div>
  <div class="card">
    <h3>Total Email</h3>
    <p>{{ totalEmail }}</p>
  </div>
  <div class="card">
    <h3>Total Department</h3>
    <p>{{ totalDepartment }}</p>
  </div>
  <div class="card">
    <h3>Active Employees</h3>
    <p>{{ totalActive }}</p>
  </div>
</div>

<h3>Employee List</h3>
<div>
  <input type="text" placeholder="Search Employee" [(ngModel)]="searchText" />
  <button (click)="sortEmployee()">
    {{ isAscending ? "sort A-Z" : "sort Z-A" }}
  </button>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Role</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    @for (employe of filteredEmployees; track employe._id) {
      <tr>
        <td>
          <a [routerLink]="['/employee', employe._id]">
            {{ employe.name }}
          </a>
        </td>
        <td>{{ employe.email }}</td>
        <td>{{ employe.department }}</td>
        <td>{{ employe.role }}</td>
        <td>{{ employe.status }}</td>
      </tr>
    }
  </tbody>
</table>
