<div class="login-container">
  <h2>Create Account</h2>

  <div class="field">
    <p-floatLabel>
      <input pInputText id="companyName" [(ngModel)]="companyName" />
      <label for="companyName">Company Name</label>
    </p-floatLabel>
  </div>

  <div class="field">
    <p-floatLabel>
      <input pInputText id="username" [(ngModel)]="username" />
      <label for="username">Username</label>
    </p-floatLabel>
  </div>

  <div class="field">
    <p-floatLabel>
      <input pInputText type="password" id="password" [(ngModel)]="password" />
      <label for="password">Password</label>
    </p-floatLabel>
  </div>

  <div class="field">
    <p-floatLabel>
      <input
        pInputText
        type="password"
        id="confirmPassword"
        [(ngModel)]="confirmPassword"
      />
      <label for="confirmPassword">Confirm Password</label>
    </p-floatLabel>
  </div>

  <p-button
    label="Register"
    icon="pi pi-user-plus"
    styleClass="w-full"
    (onClick)="register()"
  >
  </p-button>

  @if (errorMessage) {
    <small class="error">{{ errorMessage }}</small>
  }

  @if (sucessMessage) {
    <small class="success">{{ sucessMessage }}</small>
  }

  <p class="login-link">
    Already have an account?
    <a routerLink="/login-page">Login</a>
  </p>
</div>