<h2>Employee Registration form</h2>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <input type="text" placeholder="Name" formControlName="name" />
    @if (isFieldInvalid("name") && hasError("name", "required")) {
      <small> Name is required </small>
    }
  </div>

  <div class="field">
    <input type="email" placeholder="Email" formControlName="email" />
    @if (isFieldInvalid("email") && hasError("email", "required")) {
      <small> Email is required </small>
    }
    @if (isFieldInvalid("email") && hasError("email", "email")) {
      <small> Invalid email format </small>
    }
  </div>

  <div class="field">
    <input type="text" placeholder="PhoneNumber" formControlName="phone" />
    @if (isFieldInvalid("phone") && hasError("phone", "required")) {
      <small> Phone number is required </small>
    }
    @if (isFieldInvalid("phone") && hasError("phone", "pattern")) {
      <small> Phone must contain 10 digits </small>
    }
  </div>
  <div class="field">
    <input
      type="text"
      placeholder="Designation"
      formControlName="designation"
    />
    @if (isFieldInvalid("designation") && hasError("designation", "required")) {
      <small> designation is required </small>
    }
  </div>
  <div class="field">
    <input type="number" placeholder="Salary" formControlName="salary" />
    @if (isFieldInvalid("salary") && hasError("salary", "required")) {
      <small> salary is required </small>
    }
  </div>
  <div class="button">
    <button type="submit" [disabled]="employeeForm.invalid">
      Add Employee
    </button>
  </div>
</form>
@if (successMessage) {
  <div class="alert alert-success">
    {{ successMessage }}
  </div>
}

<h2>Employee List</h2>
<ul>
  @for (employee of employeeList; track employee.id; let i = $index) {
    <li *ngFor="let employee of employeeList; let i = index">
      {{ employee.name }}
      |
      {{ employee.email }}| {{ employee.phone }}|
      {{ employee.designation }}
      |
      {{ employee.salary }}
      <button class="edit-btn" (click)="editEmployee(employee, i)">Edit</button>
      <button (click)="deleteEmployee(i)">Delete</button>
      <button [routerLink]="['/employee', employee.id]">View</button>
    </li>
  }
</ul>
