form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
small {
  color: #ff0000;
  font-size: 12px;
}
button {
  color: #000000;
  background-color: #0000ff;
  margin-right: 10px;
}
button:hover {
  background-color: #005d8b;
}
.edit-btn {
  margin-right: 10px;
}
