<div class="employee-header">
  <h2>Employees</h2>
  <button
    pButton
    label="Add Employee"
    icon="pi pi-plus"
    (click)="openDialog()"
  ></button>
</div>
<p-table
  [value]="employeeList"
  responsiveLayout="scroll"
  styleClass="p-datatable-striped"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Role</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.department }}</td>
      <td>{{ employee.role }}</td>
      <td>{{ employee.salary }}</td>
      <td>
        <div>
          <button
            pButton
            icon="pi pi-pencil"
            [text]="true"
            (click)="editEmployee(employee)"
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            severity="danger"
            [text]="true"
            (click)="deleteEmployee(employee._id!)"
          ></button>
          <button
            pButton
            icon="pi pi-eye"
            [text]="true"
            [routerLink]="['/employee', employee._id]"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Add Employee"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <input type="text" placeholder="Name" formControlName="name" />
      @if (isFieldInvalid("name") && hasError("name", "required")) {
        <small> Name is required </small>
      }
    </div>

    <div class="field">
      <input type="email" placeholder="Email" formControlName="email" />
      @if (isFieldInvalid("email") && hasError("email", "required")) {
        <small> Email is required </small>
      }
      @if (isFieldInvalid("email") && hasError("email", "email")) {
        <small> Invalid email format </small>
      }
    </div>

    <div class="field">
      <input
        type="text"
        placeholder="Department"
        formControlName="department"
      />
      @if (isFieldInvalid("department") && hasError("department", "required")) {
        <small> Department is required </small>
      }
    </div>

    <div class="field">
      <input type="text" placeholder="Role" formControlName="role" />
      @if (isFieldInvalid("role") && hasError("role", "required")) {
        <small> Role is required </small>
      }
    </div>

    <div class="field">
      <input type="number" placeholder="Salary" formControlName="salary" />
      @if (isFieldInvalid("salary") && hasError("salary", "required")) {
        <small> Salary is required </small>
      }
    </div>
    <div class="button">
      <div class="dialog-footer">
        <button
          pButton
          type="button"
          label="Cancel"
          severity="secondary"
          (click)="closeDialog()"
        ></button>
        <button
          pButton
          type="submit"
          [label]="editId ? 'Update Employee' : 'Save Employee'"
          [disabled]="employeeForm.invalid"
        ></button>
      </div>
    </div>
  </form>

  @if (successMessage) {
    <div class="alert alert-success">
      {{ successMessage }}
    </div>
  }
</p-dialog>
