<h2>Employee Registration form</h2>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <input type="text" placeholder="Name" formControlName="name" />
    @if (isFieldInvalid("name") && hasError("name", "required")) {
      <small> Name is required </small>
    }
  </div>

  <div class="field">
    <input type="email" placeholder="Email" formControlName="email" />
    @if (isFieldInvalid("email") && hasError("email", "required")) {
      <small> Email is required </small>
    }
    @if (isFieldInvalid("email") && hasError("email", "email")) {
      <small> Invalid email format </small>
    }
  </div>

  <div class="field">
    <input type="text" placeholder="Department" formControlName="department" />
    @if (isFieldInvalid("department") && hasError("department", "required")) {
      <small> Department is required </small>
    }
  </div>

  <div class="field">
    <input type="text" placeholder="Role" formControlName="role" />
    @if (isFieldInvalid("role") && hasError("role", "required")) {
      <small> Role is required </small>
    }
  </div>

  <div class="field">
    <input type="number" placeholder="Salary" formControlName="salary" />
    @if (isFieldInvalid("salary") && hasError("salary", "required")) {
      <small> Salary is required </small>
    }
  </div>

  <div class="button">
    <button type="submit" [disabled]="employeeForm.invalid">
      {{ editId ? "Update Employee" : "Add Employee" }}
    </button>
  </div>
</form>

@if (successMessage) {
  <div class="alert alert-success">
    {{ successMessage }}
  </div>
}

<h2>Employee List</h2>
<ul>
  @for (employee of employeeList; track employee._id) {
    <li>
      {{ employee.name }}
      |
      {{ employee.email }} | {{ employee.department }} |
      {{ employee.role }}
      |
      {{ employee.salary }}
      <button class="edit-btn" (click)="editEmployee(employee)">Edit</button>
      <button (click)="deleteEmployee(employee._id!)">Delete</button>
      <button [routerLink]="['/employee', employee._id]">View</button>
    </li>
  }
</ul>
