<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="employee-header">
  <h2>Employees</h2>
  <button
    pButton
    label="Add Employee"
    icon="pi pi-plus"
    (click)="openDialog()"
  ></button>
</div>
<div class="search-container">
  <input
    pInputText
    type="text"
    placeholder="Search employee..."
    [(ngModel)]="searchText"
    (input)="filterEmployee()"
  />
</div>
<p-table
  [value]="filteredEmployees"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 20]"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Name
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="email">
        Email
        <p-sortIcon field="email"></p-sortIcon>
      </th>
      <th pSortableColumn="department">
        Department
        <p-sortIcon field="department"></p-sortIcon>
      </th>
      <th pSortableColumn="role">
        Role
        <p-sortIcon field="role"></p-sortIcon>
      </th>
      <th pSortableColumn="salary">
        Salary
        <p-sortIcon field="salary"></p-sortIcon>
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.department }}</td>
      <td>{{ employee.role }}</td>
      <td>{{ employee.salary }}</td>
      <td>
        <div>
          <button
            pButton
            icon="pi pi-pencil"
            [text]="true"
            (click)="editEmployee(employee)"
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            severity="danger"
            [text]="true"
            (click)="deleteEmployee(employee._id!)"
          ></button>
          <button
            pButton
            icon="pi pi-eye"
            [text]="true"
            [routerLink]="['/employee', employee._id]"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Add Employee"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <p-floatLabel>
        <input pInputText id="name" formControlName="name" />
        <label for="name">Name</label>
      </p-floatLabel>
      @if (isFieldInvalid("name") && hasError("name", "required")) {
        <small>Name is required</small>
      }
    </div>

    <div class="field">
      <p-floatLabel>
        <input pInputText id="email" type="email" formControlName="email" />
        <label for="email">Email</label>
      </p-floatLabel>
      @if (isFieldInvalid("email") && hasError("email", "required")) {
        <small>Email is required</small>
      }
      @if (isFieldInvalid("email") && hasError("email", "email")) {
        <small>Invalid email</small>
      }
    </div>

    <div class="field">
      <p-floatLabel>
        <input pInputText id="department" formControlName="department" />
        <label for="department">Department</label>
      </p-floatLabel>
      @if (isFieldInvalid("department") && hasError("department", "required")) {
        <small> Department is required </small>
      }
    </div>

    <div class="field">
      <p-floatLabel>
        <input pInputText id="role" formControlName="role" />
        <label for="role">Role</label>
      </p-floatLabel>
      @if (isFieldInvalid("role") && hasError("role", "required")) {
        <small> Role is required </small>
      }
    </div>

    <div class="field">
      <p-floatLabel>
        <p-inputNumber inputId="salary" formControlName="salary">
        </p-inputNumber>
        <label for="salary">Salary</label>
      </p-floatLabel>
      @if (isFieldInvalid("salary") && hasError("salary", "required")) {
        <small>Salary is required</small>
      }
    </div>
    <div class="button">
      <div class="dialog-footer">
        <button
          pButton
          type="button"
          label="Cancel"
          severity="secondary"
          (click)="closeDialog()"
        ></button>
        <button
          pButton
          type="submit"
          [label]="editId ? 'Update Employee' : 'Save Employee'"
          [disabled]="employeeForm.invalid"
        ></button>
      </div>
    </div>
  </form>

  @if (successMessage) {
    <div class="alert alert-success">
      {{ successMessage }}
    </div>
  }
</p-dialog>
