<h2>Employee Dashboard</h2>

<div class="dashboard-container">
  <div class="card">
    <h3>Total Employees</h3>
    <p>{{ totalEmployee }}</p>
  </div>
  <div class="card">
    <h3>Total Email</h3>
    <p>{{ totalEmail }}</p>
  </div>
  <div class="card">
    <h3>Total Phone Number</h3>
    <p>{{ totalPhone }}</p>
  </div>
  <div class="card">
    <h3>Total Company Name</h3>
    <p>{{ totalCompany }}</p>
  </div>
</div>
<h3>Employee List</h3>
<input type="text" placeholder="Search Employee" [(ngModel)]="searchText" />
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Company Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employe of filteredEmployees">
      <td>{{ employe.name }}</td>
      <td>{{ employe.email }}</td>
      <td>{{ employe.phone }}</td>
      <td>{{ employe.company?.name }}</td>
    </tr>
  </tbody>
</table>
<button (click)="logout()">Logout</button>
